{% load i18n %} {%load static%}

<style>
  .navitems{
    display:flex;
    flex-direction: column;
  }
    @media (max-width: 768px) {
            nav.navbar {
                background-color: lightgray; /* Or any color you want */
            }
        }
</style>
<div class="navitem min-width:9rem">
  <nav
  class="navbar height:3rem; navbar-expand-lg navbar-light bg-light bg-body-light fixed-top justify-content-center"
  style="background-color: #a28be7 !important; z-index: 1; position: relative;"
>
  <div class="container-fluid"  style="background-color: #a28be7 !important; z-index: 3; position: relative; width: 100%;">
    <a class="navbar-brand me-0 ms-0" href="{% url 'index' %}" id="img"
      ><img src="/static/img/ByteSource.jpg" height="30px" width="130px"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
      <ul class="navbar-nav ml-auto justify-content-fit-content">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown d-flex">
          <a
            class="btn btn-white d-block link-dark text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="{{ user.profile.image.url|default:'https://res.cloudinary.com/dmf0l0i74/image/upload/v1748318051/profile_pictures/You-have-the-patience-the-strength-and-the-passion-to-achieve-your-ambitions-your-goals-and-your-dreams.-All-you-have-to-do-now-is-try.-Candid-Blog_5.jpg' }}"
              alt="Profile Image"
              class="rounded-circle"
              width="40"
              height="40"
            />&nbsp;{% trans "Hello" %}&nbsp;{{user.username}}{% trans "!" %}<span class="sr-only">(current)</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownUser1" style="width: max-content; text-align: center; height: max-content;">
            <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>
            <li><a class="dropdown-item" href="{% url 'change_profile_image' %}">Change Profile Photo</a></li>
          </ul>
        </li>
        <li class="nav-item" style="color: rgb(140, 140, 140)">
          <a href="{% url 'quiz_index' %}" class="nav-link">TakeQuiz</a>
        </li>
        <li class="nav-item" style="color: rgb(140, 140, 140)">
          <a href="{% url 'quiz_progress' %}" class="nav-link">Progress</a>
        </li>
        {% else %}
        <li class="nav-item dropdown d-flex">
          <a
            href="#"
            class="btn btn-white d-block link-dark text-decoration-none dropdown-toggle"
            id="dropdownUser2"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://res.cloudinary.com/dmf0l0i74/image/upload/v1730782673/yajurjdirvzi6smpzgnw.jpg"
              alt="Profile Image"
              class="rounded-circle"
              width="40"
              height="40"
            />&nbsp;{% trans "Hello"%}&nbsp;{%trans "anonymous!"%}<span class="sr-only">(current)</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownUser2" style="width: 100%">
            <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
            <li><a class="dropdown-item" href="{% url 'signup' %}">SignUp</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar fixed-top" style="z-index: 0; position: relative">
  <ul class="navhead">
    <li><a href="{% url 'dsa' %}">DSA</a></li>
    <li><a href="{% url 'sql' %}">SQL</a></li>
    <li><a href="{% url 'os' %}">Operating System</a></li>
    <li><a href="{% url 'toc' %}">Theory of Computation</a></li>
    <li><a href="{% url 'cn' %}">Computer Networks</a></li>
  </ul>
</nav>

</div>
