    <aside>
        <p class="aside-anchors">Contents:</p>
        <hr>
        <a href="{% url 'toc1' %}" class="aside-anchors">1. Introduction to Theory of Computation</a>
        <a href="{% url 'toc2' %}" class="aside-anchors">2. Finite Automata</a>
        <a href="{% url 'toc3' %}" class="aside-anchors">3. Context-Free Grammars</a>
        <a href="{% url 'toc4' %}" class="aside-anchors">4. Turing Machines</a>
        <a href="{% url 'toc5' %}" class="aside-anchors">5. Computability and Complexity</a>
    </aside>