
<aside>
    <p class="aside-anchors">Contents:</p>
    <hr/>
    <a href="{% url 'cn1' %}" class="aside-anchors">1. Introduction to Computer Networks</a>
    <a href="{% url 'cn2' %}" class="aside-anchors">2. Network Topologies</a>
    <a href="{% url 'cn3' %}" class="aside-anchors">3. Network Protocols</a>
    <a href="{% url 'cn4' %}" class="aside-anchors">4. OSI Model</a>
    <a href="{% url 'cn5' %}" class="aside-anchors">5. TCP/IP Model</a>
    <a href="{% url 'cn6' %}" class="aside-anchors">6. Network Security</a>
</aside>