    <aside>
        <p class="aside-anchors">contents:</p>
        <hr>
        <a href="{% url 'dsa1' %}"  class="aside-anchors">1. Stacks, Queues, and Linked Lists</a>
        <a href="{% url 'dsa2'  %}" class="aside-anchors">2. Trees</a>
        <a href="{% url 'dsa3'  %}" class="aside-anchors">3. Graphs</a>
        <a href="{% url 'dsa4'  %}" class="aside-anchors">4. Searching and Sorting</a>
        <a href="{% url 'dsa5'  %}" class="aside-anchors">5. Hashing</a>
        <a href="{% url 'dsa6'  %}" class="aside-anchors">6. Arrays</a>
    </aside>